---
layout: default
---

{% include home/style.html %}

<div id="Header" class="tabcontent center" style="min-height: 90vh;">
  <h1>
      <img src="/assets/img/logotype.svg" alt="Rui Khembo" width="50%">
  </h1>
  {% include social.html %}
</div>

<div id="Sobre" class="tabcontent" style="min-height: 90vh;">
    <h4 class="center-align bolder"><i class="fas fa-user"></i> Sobre Mim</h4>

    {% for item in site.sobre limit: 1 %}
        <div class="justify container">
            {{ item.content }}
        </div>
    {% endfor %}
</div>

<div id="Servicos" class="tabcontent" style="min-height: 90vh;">
  <h4 class="center-align bolder"><i class="fas fa-tasks"></i> Meus Serviços</h4>
  
  <div class="row">
    {% for item in site.servicos %}
        <div class="col s12 l4">
            <h5 class="center-align"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</h5>

            <div class="justify container">
                {{ item.content }}
            </div>
        </div>
    {% endfor %}
  </div>
</div>

<div id="Portfolio" class="center tabcontent" style="min-height: 90vh;">
    <h4 class="bolder"><i class="fas fa-image"></i>Meu Portfólio</h4>
  
    <div class="row">
        <div class="col s6 l3 no-padding">
            <img src="/assets/img/uploads/b1-2.png" alt="" class="responsive-img hoverable">
        </div>
        <div class="col s6 l3 no-padding">
            <img src="/assets/img/uploads/b1-3.png" alt="" class="responsive-img hoverable">
        </div>
        <div class="col s6 l3 no-padding">
            <img src="/assets/img/uploads/b2-2.png" alt="" class="responsive-img hoverable">
        </div>
        <div class="col s6 l3 no-padding">
            <img src="/assets/img/uploads/b3-2.png" alt="" class="responsive-img hoverable">
        </div>
    </div>

    <a href="/portfolio/" class="btn-large waves-effect waves-light">Veja Mais</a>
</div>

{% include home/buttons.html %}

{% include home/script.html %}