<div class="row">
    <form method="POST" action="https://formspree.io/{{ site.email }}" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="first_name" type="text" name="name" class="validate">
                <label for="first_name">Nome Completo</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" name="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>                

        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="message" length="500"></textarea>
                <label for="textarea1">Mensagem</label>
            </div>
        </div>
        <div class="center">
            <button class="btn-large waves-effect waves-light" type="submit">Enviar</button>
        </div>
    </form>
</div>