<footer class="page-footer white-text">
    <div class="container">
        <div class="row">
            <div class="col s12 l4 scrollspy">
                <h5 class="bolder center-on-small-only">Localize-me</h5>
                <div class="center-on-small-only">
                    <ul>
                        <li>Bairro Matundo, Matema</li>
                        <li>Tete, Moçambique</li>
                        <li>Cel: +258 846101512</li>
                        <li>Cel: +258 866101512</li>
                        <li>Email: <a href="mailto:{{ site.email }}" title="Email" class="white-text">{{ site.email }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="col s12 l4">
                <h5 class="bolder center-on-small-only">Contacte-me</h5>
                <div class="center-on-small-only">
                    {% include social.html %}
                </div>
            </div>

            <div class="col s12 l4 scrollspy">
                <h5 class="bolder center-on-small-only">Parceiros</h5>
                <div class="center-on-small-only">
                    {% include parceiros.html %}
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="center">&copy; {{ site.time | date: "%Y" }} {{ site.title }}, Powered by <a href="http://izitag.github.io" rel="author" title="IZITech" class="white-text">IZITech</a></div>
        </div>
    </div>
</footer>
