<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" title="{{ site.title }}" class="brand-logo">{{ site.title }}</a>
                <a href="#" data-activates="sideNav" class="button-collapse"><i class="fa fa-2x fa-navicon"></i></a>

                <ul class="right hide-on-med-and-down">
                    {% include nav.html %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<aside id="sideNav" class="side-nav">
    <ul>
        {% include nav.html %}
    </ul>
</aside>