<section id="portfolio" class="section scrollspy">
    <div class="container">
        <h2 class="center-align">Portfólio</h2>
        <div class="row">
            {% for item in site.portfolio %}
                <div class="col s12 l4">
                    <div class="card medium hoverable">
                        <div class="card-image">
                            <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                        </div>
                        <div class="card-content">
                            <p class="flow-text">Apreciem <strong>{{ item.title }}</strong></p>
                        </div>
                        <div class="card-action center">
                            <a href="{{ item.url }}" class="btn-large waves-effect waves-light" title="{{ item.title }}">Veja Mais</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="parallax3"></section>