<section id="portfolio" class="section scrollspy">
    <div class="container">
        <div class="center">
            <i class="fa fa-5x fa-folder-open"></i>
            <h3>{{ site.thirth_title }}</h3>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col s12 l4">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img src="/assets/img/portfolio/bookings/alichia_adams.jpg" alt="Alichia Adams" class="materialboxed">
                    </div>
                    <div class="card-content">
                        <h4 class="center-align">Booking de Alichia Adams</h4>
                    </div>
                    <div class="card-action center">
                        <a href="/portfolio/bookings" title="Portfolio de Bookings" class="btn-flat waves-effect">Veja Mais</a>
                    </div>
                </div>
            </div>

            <div class="col s12 l4">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img src="/assets/img/portfolio/casamentos/noivos_exibindo_aliancas.jpg" alt="Casamento" class="materialboxed">
                    </div>
                    <div class="card-content">
                        <h4 class="center-align">Cobertura de Casamentos</h4>
                    </div>
                    <div class="card-action center">
                        <a href="/portfolio/casamentos" title="Cobertura de Casamentos" class="btn-flat waves-effect">Veja Mais</a>
                    </div>
                </div>
            </div>

            <div class="col s12 l4">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img src="/assets/img/portfolio/paisagens/zambeze_bridge.jpg" alt="Vista da Ponte Samora" class="materialboxed">
                    </div>
                    <div class="card-content">
                        <h4 class="center-align">Vista da Ponte Samora</h4>
                    </div>
                    <div class="card-action center">
                        <a href="/portfolio/paisagens" title="Vista da Ponte Samora" class="btn-flat waves-effect">Veja Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="parallax3"></section>