<section id="portfolio" class="section scrollspy">
    <div class="container">
        <div class="center">
            <i class="fa fa-5x fa-folder-open"></i>
            <h3>{{ site.thirth_title }}</h3>
        </div>
        <br><br><br>
        <div class="row">
            {% for photos in site.portfolio limit: 3 %}
                <div class="col s12 l4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="{{ photos.images }}" alt="{{ photos.title }}" data-caption="{{ photos.title }}" class="materialboxed">
                            <span class="card-title">{{ photos.title }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="parallax3"></section>