<div class="col s12 l4">
    <h3 class="center-align">Studio Booking</h3>
    
    <table class="striped centered highlight">
        <thead>
            <tr>
                <th>FOTOS</th>
                <th>PESSOAS</th>
                <th>PREÇO</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>5</td>
                <td>1</td>
                <td>500.00 MTs</td>
            </tr>

            <tr>
                <td>15</td>
                <td>1</td>
                <td>1000.00 MTs</td>
            </tr>

            <tr>
                <td>15</td>
                <td>2</td>
                <td>1500.00 MTs</td>
            </tr>

            <tr>
                <td>15</td>
                <td>5-10</td>
                <td>3000.00 MTs</td>
            </tr>
        </tbody>
    </table>
</div>