<div id="booking" class="row">
    <h3 class="center-align">Bookings</h3>
    {% for item in site.booking_price %}
        <div class="col s12 l4">
            <div class="card-panel hoverable center blue-grey white-text">

                <h4>{{ item.title }}</h4>
                <hr>
                <h5>Preço: {{ item.price }}</h5>

                <p>Fotos: {{ item.photos }}</p>
                <p>Pessoas: {{ item.pessoas }}</p>
                <p>Extras: {{ item.extra }}</p>
            </div>
        </div>
    {% endfor %}
</div>