<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

<!-- netlify widget -->
<script defer type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script src="/assets/js/jquery.min.js" defer></script>
<script src="/assets/js/materialize.min.js" defer></script>
<script src="/assets/js/main.min.js" defer></script>

{% if page.layout == "page" %}
    <link rel="stylesheet" href="/assets/lightbox-css/lightbox.min.css">
    <script src="/assets/js/masonry.pkgd.min.js" defer></script>
    <script src="/assets/js/init.js" defer></script>
    <script src="/assets/js/lightbox.min.js" defer></script>
{% endif %}

{% if page.title == "Videos" %}
    {% include light-youtube-embed.html %}
{% endif %}

{% include ga.html %}