<section id="sobre" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="center">
                <div class="col s12">
                    <br><br><br>
                    {% for item in site.sobre limit: 1 %}
                        <img src="{{ item.image }}" alt="{{ site.title }}" style="width: 200px; height: 200px;" class="circle">
                        <h2>{{ item.title }}</h2>
                        <p class="flow-text justify">{{ item.description }}</p>
                    {% endfor %}
                    
                    {% include cta.html %}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="parallax1" class="section"></section>