<section id="sobre" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="center">
                <div class="col s12">
                    {% for item in site.sobre limit: 1 %}
                        <h3>
                            <i class="fa fa-{{ item.icon }}"></i>
                            <br>
                            {{ item.title }}
                        </h3>
                        <div class=" container justify">
                            {{ item.content }}
                        </div>
                    {% endfor %}

                    {% include cta.html %}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="parallax1" class="section"></section>