@charset "UTF-8";

@import "variables";

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font: {
        family: 'Lato', sans-serif;
        size: 100%;
    }
    color: #444;
}

body {
    overflow-x: hidden;
}
main {
    flex: 1 0 auto;
}

.bolder {font-weight: bolder;}

footer {
    margin: 0;
}

.inline-list {
    display: inline-flex;
}

.primary-color {
    background-color: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.primary-color-light {
    background: $primary-color-light;
}

.primary-color-light-text {
    color: $primary-color-light;
}

.primary-color-dark {
    background: $primary-color-dark;
}

.primary-color-dark-text {
    color: $primary-color-dark;
}

.secondary-color {
    background: $secondary-color;
}

.secondary-color-text {
    color: $secondary-color;
}

.page-header {
    background: {
        image: url(assets/img/parallax/header.jpg);
        size: cover;
        repeat: no-repeat;
        position: center;
        attachment: fixed;
    }

    height: 100vh;
    position: relative;

    .page-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

// IMPORTED
@import 
    "animate-bottom",
    "materialize/materialize"
;