backend:
  name: git-gateway
  accept_roles:
    - admin
    - client
  branch: version2

media_folder: "assets/img/uploads"

collections:
  - label: "Paginas"
    name: "pages"
    folder: "_pages"
    create: true
    fields:
      - {label: "Titulo", name: "title", widget: "string"}
      - label: "Paginação"
        name: "pagination"
        widget: "object"
        fields:
          - {label: "Ativação", name: "enabled", widget: "boolean", default: true}
          - label: "Colecção"
            name: "collections"
            widget: "select"
            options: ["bookings", "casamentos", "diversos"]
      - {label: "Layout", name: "layout", widget: "hidden", default: "page"}

  - label: "Sobre"
    name: "sobre"
    folder: "collections/_sobre"
    create: true
    fields:
      - {label: "Imagem", name: "image", widget: "image"}
      - {label: "Titulo", name: "title", widget: "string", default: "Quem Sou"}
      - {label: "Área de Texto", name: "body", widget: "markdown"}

  - label: "Serviços"
    name: "servicos"
    folder: "collections/_servicos"
    create: true
    fields:
      - {label: "Titulo", name: "title", widget: "string"}
      - label: "Icone"
        name: "icon"
        widget: "select"
        options: ["youtube-play", "camera", "video-camera"]
      - {label: "Área de Texto", name: "body", widget: "markdown"}

  - label: "Preços de Bookings"
    name: "preco_booking"
    folder: "collections/_booking_price"
    create: true
    fields:
      - {label: "Titulo", name: "title", widget: "string"}
      - {label: "Preço", name: "price", widget: "number"}
      - {label: "Nº de Fotos", title: "photos", widget: "number"}
      - {label: "Extra", name: "extra", default: "Maquiagem", required: "false", widget: "string"}

  - label: "Preços de Eventos"
    name: "preco_eventos"
    folder: "collections/_eventos_price"
    create: true
    fields:
      - {label: "Titulo", name: "title", widget: "string"}
      - {label: "Preço", name: "price", widget: "number"}
      - {label: "Nº de Fotos", title: "photos", widget: "number"}
      - {label: "Extra", name: "extra", default: "Maquiagem", required: "false", widget: "string"}
      - {label: "Descrição", name: "description", required: "false", widget: "text"}

  - label: "Galeria"
    name: "galeria"
    folder: collections/_galeria
    create: true
    fields:
      - {label: "Titulo", name: "title", widget: "string"}
      - label: "Categoria"
        name: "filter"
        widget: "select"
        options: ["Bookings", "Casamentos", "Paisagens", "Eventos"]
      - label: "Imagens"
        name: "images"
        widget: "list"
        field:
          - {label: "Imagem", name: "image", widget: "image"}