<html lang="pt" dir="ltr">
    {% include head.html %}
    
    <body id="top">
        <div class="animate-bottom">
            {% if page.layout == "page" %}
                {% include navbar.html %}
                {% include header.html %}
            {% endif %}
            
            {{ content }}
            
            {% if page.layout == "page" %}
                {% include fab.html %}
                {% include footer.html %}
            {% endif %}
            {% include scripts.html %}
        </div>
    </body>
</html>