---
layout: default
---

<style>
    .post-header {
        position: relative;
        height: 50vh;
        background-image: url({{ page.image }});
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .post-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: -2px 2px #444;
        text-align: center;
    }
</style>

<section class="grey lighten-4">
    <header class="post-header">
        <div class="post-title">
            <h3>{{ page.title }}</h3>
        </div>
    </header>
    
    <section class="section container">
        <section class="row">
            <article class="col s12 white hoverable">
                <div class="container">
                    {{ content }}

                    <div class="center">
                        <a href="{{ page.document }}" title="Documento Completo" class="btn-large waves-effect waves-light">
                            <i class="fas fa-download"></i> Projecto Completo
                        </a>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>